[submodule "aide"]
	path = aide
	url = https://github.com/foolean/ansible-role-aide.git
[submodule "apache2"]
	path = apache2
	url = https://github.com/foolean/ansible-role-apache2.git
[submodule "apparmor"]
	path = apparmor
	url = https://github.com/foolean/ansible-role-apparmor.git
[submodule "apt"]
	path = apt
	url = https://github.com/foolean/ansible-role-apt.git
[submodule "auditd"]
	path = auditd
	url = https://github.com/foolean/ansible-role-auditd.git
[submodule "autofs"]
	path = autofs
	url = https://github.com/foolean/ansible-role-autofs.git
[submodule "avahi"]
	path = avahi
	url = https://github.com/foolean/ansible-role-avahi.git
[submodule "banner"]
	path = banner
	url = https://github.com/foolean/ansible-role-banner.git
[submodule "bash"]
	path = bash
	url = https://github.com/foolean/ansible-role-bash.git
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/foolean/ansible-role-bootloader.git
[submodule "chrony"]
	path = chrony
	url = https://github.com/foolean/ansible-role-chrony.git
[submodule "cramfs"]
	path = cramfs
	url = https://github.com/foolean/ansible-role-cramfs.git
[submodule "cron"]
	path = cron
	url = https://github.com/foolean/ansible-role-cron.git
[submodule "cups"]
	path = cups
	url = https://github.com/foolean/ansible-role-cups.git
[submodule "cyrusimap"]
	path = cyrusimap
	url = https://github.com/foolean/ansible-role-cyrusimap.git
[submodule "debian"]
	path = debian
	url = https://github.com/foolean/ansible-role-debian.git
[submodule "dhcp"]
	path = dhcp
	url = https://github.com/foolean/ansible-role-dhcp.git
[submodule "dns"]
	path = dns
	url = https://github.com/foolean/ansible-role-dns.git
[submodule "dovecot"]
	path = dovecot
	url = https://github.com/foolean/ansible-role-dovecot.git
[submodule "etckeeper"]
	path = etckeeper
	url = https://github.com/foolean/ansible-role-etckeeper.git
[submodule "firewall"]
	path = firewall
	url = https://github.com/foolean/ansible-role-firewall.git
[submodule "ftp"]
	path = ftp
	url = https://github.com/foolean/ansible-role-ftp.git
[submodule "gnome"]
	path = gnome
	url = https://github.com/foolean/ansible-role-gnome.git
[submodule "ldap"]
	path = ldap
	url = https://github.com/foolean/ansible-role-ldap.git
[submodule "limits"]
	path = limits
	url = https://github.com/foolean/ansible-role-limits.git
[submodule "logindefs"]
	path = logindefs
	url = https://github.com/foolean/ansible-role-logindefs.git
[submodule "mounts"]
	path = mounts
	url = https://github.com/foolean/ansible-role-mounts.git
[submodule "network"]
	path = network
	url = https://github.com/foolean/ansible-role-network.git
[submodule "nfs"]
	path = nfs
	url = https://github.com/foolean/ansible-role-nfs.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/foolean/ansible-role-nginx.git
[submodule "nis"]
	path = nis
	url = https://github.com/foolean/ansible-role-nis.git
[submodule "pam"]
	path = pam
	url = https://github.com/foolean/ansible-role-pam.git
[submodule "postfix"]
	path = postfix
	url = https://github.com/foolean/ansible-role-postfix.git
[submodule "proftp"]
	path = proftp
	url = https://github.com/foolean/ansible-role-proftp.git
[submodule "redhat"]
	path = redhat
	url = https://github.com/foolean/ansible-role-redhat.git
[submodule "root"]
	path = root
	url = https://github.com/foolean/ansible-role-root.git
[submodule "rsh"]
	path = rsh
	url = https://github.com/foolean/ansible-role-rsh.git
