[submodule "aide"]
	path = aide
	url = https://github.com/foolean/ansible-role-aide.git
[submodule "apache2"]
	path = apache2
	url = https://github.com/foolean/ansible-role-apache2.git
[submodule "apparmor"]
	path = apparmor
	url = https://github.com/foolean/ansible-role-apparmor.git
[submodule "apt"]
	path = apt
	url = https://github.com/foolean/ansible-role-apt.git
[submodule "auditd"]
	path = auditd
	url = https://github.com/foolean/ansible-role-auditd.git
[submodule "autofs"]
	path = autofs
	url = https://github.com/foolean/ansible-role-autofs.git
[submodule "avahi"]
	path = avahi
	url = https://github.com/foolean/ansible-role-avahi.git
[submodule "banner"]
	path = banner
	url = https://github.com/foolean/ansible-role-banner.git
[submodule "bash"]
	path = bash
	url = https://github.com/foolean/ansible-role-bash.git
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/foolean/ansible-role-bootloader.git
[submodule "chrony"]
	path = chrony
	url = https://github.com/foolean/ansible-role-chrony.git
[submodule "cramfs"]
	path = cramfs
	url = https://github.com/foolean/ansible-role-cramfs.git
[submodule "cron"]
	path = cron
	url = https://github.com/foolean/ansible-role-cron.git
[submodule "cups"]
	path = cups
	url = https://github.com/foolean/ansible-role-cups.git
[submodule "cyrusimap"]
	path = cyrusimap
	url = https://github.com/foolean/ansible-role-cyrusimap.git
